* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    background-image: url($background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $background-color;
}

.main {
    flex: 1 0 auto;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Main */

.main {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.1em;
}