$font-color: #e1b43a;
$font-alternative-color: #bfbfbf;
$accent-color: #ee6c4d;
$background-color: #0F0F0F;
$background-alternative-color: #e0fbfc;
$background-image: "../../../assets/img/bakgrund.jpg";
